@{
    ViewData["Title"] = "Browse";
}
@using GiantBomb.Api
@using System.Text.Json

@{
    List<int> SwapIds = new List<int>();
    foreach (Swap s in ViewBag.AllSwaps)
    {
        SwapIds.Add(s.GameId);
    }
}
<div class="text-center">
    <h1 class="text-start">Available Listings</h1>
    <div class="row">
        @foreach (Game g in ViewBag.AllGames)
        {
            if(!SwapIds.Contains(g.GameId) && g.UserId != Context.Session.GetInt32("user"))
            {
                var giantBomb = new GiantBombRestClient($"{ViewBag.gbApi}");
                    string[] filters = new String[3] {
                        "id",
                        "name",
                        "image"
                    };
                    var results = giantBomb.SearchForGames(query: g.Title, limitFields: filters, pageSize: 1);
                    string json = JsonSerializer.Serialize(results);
                    using JsonDocument doc = JsonDocument.Parse(json);
                    JsonElement root = doc.RootElement;
                    var u1 = root[0].GetProperty("Image").GetProperty("SmallUrl");
                <div class="col">
                    <div class="card bg-light" style="max-width: 12rem;">
                        <p class="card-title text-dark">@g.Title</p>
                        <img class="card-img" src="@u1" alt="@g.Title Cover Image" style="max-height: 210px;">
                        <p><a href="/game/@g.GameId" class="card-text stretched-link text-dark">@g.Platform | @g.Price Coins | @g.Owner.Username</a></p>
                    </div>
                </div>
            }
        }
    </div>
</div>