@{
    ViewData["Title"] = "Dashboard";
}
@using GiantBomb.Api
@using System.Text.Json
@{
    List<int> SwapIds = new List<int>();
    foreach (Swap s in ViewBag.RelevantSwaps)
    {
        SwapIds.Add(s.GameId);
    }
}
<div class="text-center">
    <div class="row">
        <div class="col-10 offset-1">
            <h1>Welcome, @ViewBag.LoggedUser.Username</h1>
        </div>
        <div class="col-1">
            <form action="/user/addcoins" method="post">
                <input type="submit" value="Add 10 Coins" class="btn btn-info">
            </form>
        </div>
    </div>
    <div class="row">
        <h5>Current Coins: @ViewBag.LoggedUser.Coins</h5>
    </div>

    <h4 class="text-start">Your Current Listings</h4>
    <div class="row">
        @foreach (Game g in ViewBag.LoggedUser.OwnedGames)
        {
            if (!SwapIds.Contains(g.GameId))
            {
                var giantBomb = new GiantBombRestClient($"{ViewBag.gbApi}");
                var filters = new Dictionary<string, object>() {
                    {"name", g.Title}
                };
                var results = giantBomb.SearchForGamesAsync(g.Title);
                string jsonString = JsonSerializer.Serialize(results);
                Console.WriteLine(jsonString);
                <div class="col">
                    <p><a href="/game/@g.GameId">@g.Title | @g.Platform | @g.Price</a></p>
                </div>
                break;
            }
        }
    </div>
    <hr>
    <div class="row justify-content-end text-end">
        <div class="col-3">
            <a href="/browse" class="btn btn-primary">Browse Available Games</a>
        </div>
        <div class="col-2">
            <a href="/game/new" class="btn btn-success">List a New Game</a>
        </div>
    </div>
    <h4 class="text-start">Your Pending Swaps</h4>
    @foreach (Swap s in ViewBag.RelevantSwaps)
    {
        if (s.GameReceived != 1)
        {
            <p><a href="/swap/view/@s.SwapId">@s.Game.Title | Swapped to: @s.Buyer.Username From: @s.Seller.Username | Price: @s.FinalPrice</a></p>
        }
    }
</div>