@{
    ViewData["Title"] = "Dashboard";
}
@{
    List<int> SwapIds = new List<int>();
    foreach (Swap s in ViewBag.RelevantSwaps)
    {
        SwapIds.Add(s.GameId);
    }
}
<div class="text-center">
    <h1>Welcome, @ViewBag.LoggedUser.Username</h1>

    <h4 class="text-start">Your Current Listings</h4>
    @foreach (Game g in ViewBag.LoggedUser.OwnedGames)
    {
        if (!SwapIds.Contains(g.GameId))
        {
            <p><a href="/game/@g.GameId">@g.Title | @g.Platform | @g.Price</a></p>
        }
    }
    <hr>
    <div class="row justify-content-end text-end">
        <div class="col-3">
            <a href="/browse" class="btn btn-primary">Browse Available Games</a>
        </div>
        <div class="col-2">
            <a href="/game/new" class="btn btn-success">List a New Game</a>
        </div>
    </div>
    <h4 class="text-start">Your Pending Swaps</h4>
    @foreach (Swap s in ViewBag.RelevantSwaps)
    {
        <p><a href="/swap/view/@s.SwapId">@s.Game.Title | Swapped to: @s.Buyer.Username From: @s.Seller.Username | Price: @s.FinalPrice</a></p>
    }
    <hr>
    @foreach (Swap s in ViewBag.LoggedUser.OwnedSwaps)
    {
        <p>Owned: @s.GameId</p>
    }
    @foreach (Swap s in ViewBag.LoggedUser.BoughtSwaps)
    {
        <p>Bought: @s.GameId</p>
    }
</div>